.page{
  margin:20px;
}

input{
  display: block;
  width: 100%;
  padding: 16px 0px;
  text-indent: 15px;
  border-radius: 4px;
  border: none;
  margin: 3% 0;
  outline: none;
}
.dragDrop{
  border:3px dashed #222;
  padding:40px 20px;
  color:#222;
  margin: 3% 0;
}
.fillIn{
  border:3px dotted #222;
  padding:40px 20px;
  color:#222;
  margin: 3% 0;
}
.fillIn:hover, .dragDrop:hover{
  border-color:#f5f5f5;
  color:#f5f5f5;
  background:rgba(0,0,0,0.1);
}

.final-button{
  background:rgba(0,0,0,0.7);
  color:#f5f5f5;
  padding:40px 20px;
  cursor:pointer;
  border-radius:5px;
}
.final-button:hover, .final-button:focus{
  background:rgba(0,0,0,0.6);
}
