.page{
  margin:20px;
}
.btn-dark{
  background:#2f2f2f;
}
input{
  display: block;
  width: 100%;
  padding: 16px 0px;
  text-indent: 15px;
  border-radius: 4px;
  border: none;
  margin: 3% 0;
  outline: none;
}
textarea{
  display: block;
  width: 100%;
  border-radius: 4px;
  border: none;
  margin: 3% 0;
  outline: none;
  border-color:transparent;
}
.form-control{
  border:none;
}
.form-control:focus,.form-control:hover{
  box-shadow: none;
  border-color:transparent;
}
.dragDrop{
  background-color: white;
  outline: 2px dashed #222;
  outline-offset: -10px;
  padding:50px 20px 10px;
  color:#222;
  margin: 4% 0;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.dragover{
  outline-color:#f5f5f5;
  color:#f5f5f5;
  background:rgba(0,0,0,0.1);
  cursor:pointer;
  outline-offset: -15px;
}
.fillIn{
  background-color: white;
  outline: 2px dotted #222;
  outline-offset: -10px;
  padding:45px 20px;
  color:#222;
  margin: 3% 0;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.fillIn:hover, .dragDrop:hover{
  outline-color:#f5f5f5;
  color:#f5f5f5;
  background:rgba(0,0,0,0.1);
  cursor:pointer;
  outline-offset: -15px;
}

.final-button{
  position:fixed;
  right:15px;
  -webkit-transition: color .15s linear;
	transition: color .15s linear;
}
.one{
  bottom:15px;
}
.two{
  bottom:80px;
}
.final-button:hover i:last-child, .final-button:focus i:last-child{
  color:#fdc318;
}
.timeline_panel{
  background:#2f2f2f;
  padding:20px;
  margin-bottom:20px;
  color:#f5f5f5;
}
.mainIcon{
  padding:10px;
  color:#2f2f2f;
  text-align:center;
}
.hidden{
  display:none
}

.output{
  width:100%;
  border-radius:4px;
}
#output:hover > #overlay{
  display:block;
  color:white;
  -webkit-transition: display .25s ease-in-out, background-color .15s linear;
  transition: display .25s ease-in-out, background-color .15s linear;
  background-color: rgba(231, 76, 60, 0.5);
}
#output{
  position:relative;
  margin:4% 0;
}
#overlay {
  -webkit-transition: display .25s ease-in-out, background-color .15s linear;
  transition: display .25s ease-in-out, background-color .15s linear;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    cursor: pointer;
    border-radius:4px;
    text-align:center
}
#overlay i{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.box_file{
  opacity:0;
  overflow:hidden;
  margin:0;
  padding:0;
}
.grey{
  background:#222;
  padding:4px 30px;
  color:white;
  margin:2px;
  display:inline-block;
  white-space: nowrap;
}
.yellow{
  background:#fdc318;
  padding:4px 30px;
  display:inline-block;
  font-weight: 700;
  margin:2px;
}
.arrow_box{
  background: #222;
  padding:20px;
  color:white;
  border-radius:4px;
}
.arrow_box:after{
  top: 25%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(242, 242, 242, 0);
  border-width: 12px;
  margin-top: -12px;
}
.arrow_box_left:after {
    left: -8px;
    border-right-color: #222;
}
.arrow_box_right:after {
  right: -8px;
  border-left-color: #222;
}
.timelineDate{
  padding:10px 30px;
  display:inline-block;
  font-weight: 700;
}
.date1{background:#fdc318; border-top-right-radius: 4px; border-top-left-radius: 4px}
.date2{background: #f39c12; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;}

.newProgress-bar{
  background-color:#222;
  -webkit-transition: background-color .15s linear;
	transition: background-color .15s linear;
}
.newProgress-bar:hover{
  background-color:#fdc318;
}
.socialMedia{
  list-style-type: none;
  padding:0px;
  margin:0px;
}
.socialMedia li{
  display:inline-block;
  color:#fdc318;
  margin:5px;
}
.socialMedia li i{
  color:#fdc318;
}
.range-slider{
  margin-bottom:20px;
}
.range-slider__range {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 3px;
  background: #333;
  outline: none;
  padding: 0;
  margin: 0;
}
::-moz-range-track {
  background: #333;
  border: 0;
}

/* style all elements with a required attribute */
:invalid {
  box-shadow: none;
}
