@import url(//fonts.googleapis.com/css?family=Raleway:400,300,700);

body {
  background:#fdc318;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
    font-weight: 500;
}
