@import url(//fonts.googleapis.com/css?family=Raleway:400,300,700);

body {
  background:#fdc318;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
    font-weight: 500;
}
.login {
  height: 260px;
}
.signup {
  height: 400px;
}
.homepage{
  margin:10% auto;
}
.center-section{
  position: fixed;
  z-index: 999;
  width:100%;
  max-width: 480px;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
